In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('X_train.csv')
df.head()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
0,0,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,0.0,0,c-2
1,1,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,32.0,1,c-2
2,2,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.0,1,c-4
3,3,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.0,2,c-4
4,4,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,False,20.0,0,b-69

In [ ]:
#df.tail()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
21776585,21776585,2021-08-31 23:29:18.122593+00:00,x,y,2021-09-03 10:00:00+00:00,2021-09-03 12:00:00+00:00,alpha,True,20.0,1,a-7
21776586,21776586,2021-08-31 23:29:18.122593+00:00,x,y,2021-09-03 13:40:00+00:00,2021-09-03 15:40:00+00:00,alpha,True,15.0,1,a-9
21776587,21776587,2021-08-31 23:29:18.961691+00:00,x,y,2021-09-03 04:40:00+00:00,2021-09-03 06:40:00+00:00,omega,True,20.0,1,d-1
21776588,21776588,2021-08-31 23:29:18.961691+00:00,x,y,2021-09-03 10:35:00+00:00,2021-09-03 12:35:00+00:00,omega,True,20.0,1,d-3
21776589,21776589,2021-08-31 23:29:18.961691+00:00,x,y,2021-09-03 17:05:00+00:00,2021-09-03 19:05:00+00:00,omega,True,20.0,1,d-5

In [ ]:
#df.isna().sum()

Unnamed: 0    0
f1            0
f2            0
f3            0
f4            0
f5            0
f6            0
f7            0
f8            0
f9            0
f10           0
dtype: int64

### ***Dataset X includes the following features:***

- f1: Ticket Purchase Date Time
- f2: Origin
- f3: Destination
- f4: Departure Date Time
- f5: Arrival Date Time
- f6: Airline
- f7: Refundable Ticket
- f8: Baggage Weight
- f9: Baggage Pieces
- f10: Flight Number

In [3]:
# Changing the string into number we consider origin as 0 and Destination as 1
df = df.replace('x',0)

In [4]:
# Changing the string into number we consider origin as 0 and Destination as 1
df = df.replace('y',1)

In [ ]:
#df.head()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
0,0,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,0.0,0,c-2
1,1,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,32.0,1,c-2
2,2,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.0,1,c-4
3,3,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.0,2,c-4
4,4,2020-12-31 09:46:18.191119+00:00,0,1,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,False,20.0,0,b-69

In [5]:
# mean max method on f8 baggage weight to normalize the data
df['f8'] = (df['f8']-df['f8'].min())/(df['f8'].max()-df['f8'].min())

In [ ]:
#df.head()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
0,0,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,0.000000,0,c-2
1,1,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,0.711111,1,c-2
2,2,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,0.711111,1,c-4
3,3,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,0.711111,2,c-4
4,4,2020-12-31 09:46:18.191119+00:00,0,1,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,False,0.444444,0,b-69

In [6]:
#Replacing the Booleans to 1/0
df["f7"] = df["f7"].astype(int)

In [ ]:
#df.head()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
0,0,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.000000,0,c-2
1,1,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.711111,1,c-2
2,2,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,1,c-4
3,3,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,2,c-4
4,4,2020-12-31 09:46:18.191119+00:00,0,1,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,0,0.444444,0,b-69

In [ ]:
#df.tail()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
21776585,21776585,2021-08-31 23:29:18.122593+00:00,0,1,2021-09-03 10:00:00+00:00,2021-09-03 12:00:00+00:00,alpha,1,0.444444,1,a-7
21776586,21776586,2021-08-31 23:29:18.122593+00:00,0,1,2021-09-03 13:40:00+00:00,2021-09-03 15:40:00+00:00,alpha,1,0.333333,1,a-9
21776587,21776587,2021-08-31 23:29:18.961691+00:00,0,1,2021-09-03 04:40:00+00:00,2021-09-03 06:40:00+00:00,omega,1,0.444444,1,d-1
21776588,21776588,2021-08-31 23:29:18.961691+00:00,0,1,2021-09-03 10:35:00+00:00,2021-09-03 12:35:00+00:00,omega,1,0.444444,1,d-3
21776589,21776589,2021-08-31 23:29:18.961691+00:00,0,1,2021-09-03 17:05:00+00:00,2021-09-03 19:05:00+00:00,omega,1,0.444444,1,d-5

In [15]:
df1 = pd.read_csv('y_train.csv')

In [16]:
df1.head()

   Unnamed: 0   target
0           0   7400.0
1           1   8650.0
2           2   9150.0
3           3  10400.0
4           4   8697.0

In [17]:
df1.tail()

          Unnamed: 0  target
21776585    21776585  8381.0
21776586    21776586  9045.0
21776587    21776587  6155.0
21776588    21776588  6155.0
21776589    21776589  6605.0

In [ ]:
#df.describe()

,Unnamed: 0,f2,f3,f7,f8,f9
count,2.177659e+07,21776590.0,21776590.0,2.177659e+07,2.177659e+07,2.177659e+07
mean,1.088829e+07,0.0,1.0,9.936872e-01,5.019902e-01,9.491727e-01
std,6.286360e+06,0.0,0.0,7.920188e-02,1.974526e-01,6.077294e-01
min,0.000000e+00,0.0,1.0,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.444147e+06,0.0,1.0,1.000000e+00,4.444444e-01,1.000000e+00
50%,1.088829e+07,0.0,1.0,1.000000e+00,4.444444e-01,1.000000e+00
75%,1.633244e+07,0.0,1.0,1.000000e+00,7.111111e-01,1.000000e+00
max,2.177659e+07,0.0,1.0,1.000000e+00,1.000000e+00,2.000000e+00

In [ ]:
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21776590 entries, 0 to 21776589
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   f1          object
 2   f2          int64
 3   f3          int64
 4   f4          object
 5   f5          object
 6   f6          object
 7   f7          int32
 8   f8          float64
 9   f9          int64
 10  f10         object
dtypes: float64(1), int32(1), int64(4), object(5)
memory usage: 1.7+ GB

In [ ]:
#df.duplicated().sum()

0

In [7]:
df[['pd','pt']]=df['f1'].str.split(' ', expand=True)

In [ ]:
df.head()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,pd,pt
0,0,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.000000,0,c-2,2020-12-31,09:46:17.463002+00:00
1,1,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.711111,1,c-2,2020-12-31,09:46:17.463002+00:00
2,2,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,1,c-4,2020-12-31,09:46:17.463002+00:00
3,3,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,2,c-4,2020-12-31,09:46:17.463002+00:00
4,4,2020-12-31 09:46:18.191119+00:00,0,1,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,0,0.444444,0,b-69,2020-12-31,09:46:18.191119+00:00

In [9]:
df[['dd','dt']]=df['f4'].str.split(' ', expand=True)

In [11]:
df[['ad','at']]=df['f5'].str.split(' ', expand=True)

In [ ]:
df.head()

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,pd,pt,dd,dt,ad,at
0,0,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.000000,0,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
1,1,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.711111,1,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
2,2,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,1,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
3,3,2020-12-31 09:46:17.463002+00:00,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,2,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
4,4,2020-12-31 09:46:18.191119+00:00,0,1,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,0,0.444444,0,b-69,2020-12-31,09:46:18.191119+00:00,2021-01-25,11:00:00+00:00,2021-01-25,12:55:00+00:00

In [8]:
df.drop('f1', inplace=True, axis=1)

In [ ]:
df.head()

,Unnamed: 0,f2,f3,f4,f5,f6,f7,f8,f9,f10,pd,pt,dd,dt,ad,at
0,0,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.000000,0,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
1,1,0,1,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,1,0.711111,1,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
2,2,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,1,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
3,3,0,1,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,1,0.711111,2,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
4,4,0,1,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,0,0.444444,0,b-69,2020-12-31,09:46:18.191119+00:00,2021-01-25,11:00:00+00:00,2021-01-25,12:55:00+00:00

In [10]:
df.drop('f4', inplace=True, axis=1)

In [ ]:
df.head()

,Unnamed: 0,f2,f3,f5,f6,f7,f8,f9,f10,pd,pt,dd,dt,ad,at
0,0,0,1,2021-01-10 07:00:00+00:00,gamma,1,0.000000,0,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
1,1,0,1,2021-01-10 07:00:00+00:00,gamma,1,0.711111,1,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
2,2,0,1,2021-01-10 13:00:00+00:00,gamma,1,0.711111,1,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
3,3,0,1,2021-01-10 13:00:00+00:00,gamma,1,0.711111,2,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
4,4,0,1,2021-01-25 12:55:00+00:00,beta,0,0.444444,0,b-69,2020-12-31,09:46:18.191119+00:00,2021-01-25,11:00:00+00:00,2021-01-25,12:55:00+00:00

In [12]:
df.drop('f5', inplace=True, axis=1)

In [13]:
df.head()

,Unnamed: 0,f2,f3,f6,f7,f8,f9,f10,pd,pt,dd,dt,ad,at
0,0,0,1,gamma,1,0.000000,0,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
1,1,0,1,gamma,1,0.711111,1,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
2,2,0,1,gamma,1,0.711111,1,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
3,3,0,1,gamma,1,0.711111,2,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
4,4,0,1,beta,0,0.444444,0,b-69,2020-12-31,09:46:18.191119+00:00,2021-01-25,11:00:00+00:00,2021-01-25,12:55:00+00:00

In [14]:
df.to_csv("train.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21776590 entries, 0 to 21776589
Data columns (total 14 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   f2          int64
 2   f3          int64
 3   f6          object
 4   f7          int32
 5   f8          float64
 6   f9          int64
 7   f10         object
 8   pd          object
 9   pt          object
 10  dd          object
 11  dt          object
 12  ad          object
 13  at          object
dtypes: float64(1), int32(1), int64(4), object(8)
memory usage: 2.2+ GB

In [ ]:
#df.rename(columns={"f2": "origin", "f3": "destination"})

,Unnamed: 0,origin,destination,f6,f7,f8,f9,f10,pd,pt,dd,dt,ad,at
0,0,0,1,gamma,1,0.000000,0,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
1,1,0,1,gamma,1,0.711111,1,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00
2,2,0,1,gamma,1,0.711111,1,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
3,3,0,1,gamma,1,0.711111,2,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00
4,4,0,1,beta,0,0.444444,0,b-69,2020-12-31,09:46:18.191119+00:00,2021-01-25,11:00:00+00:00,2021-01-25,12:55:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21776585,21776585,0,1,alpha,1,0.444444,1,a-7,2021-08-31,23:29:18.122593+00:00,2021-09-03,10:00:00+00:00,2021-09-03,12:00:00+00:00
21776586,21776586,0,1,alpha,1,0.333333,1,a-9,2021-08-31,23:29:18.122593+00:00,2021-09-03,13:40:00+00:00,2021-09-03,15:40:00+00:00
21776587,21776587,0,1,omega,1,0.444444,1,d-1,2021-08-31,23:29:18.961691+00:00,2021-09-03,04:40:00+00:00,2021-09-03,06:40:00+00:00
21776588,21776588,0,1,omega,1,0.444444,1,d-3,2021-08-31,23:29:18.961691+00:00,2021-09-03,10:35:00+00:00,2021-09-03,12:35:00+00:00
21776589,21776589,0,1,omega,1,0.444444,1,d-5,2021-08-31,23:29:18.961691+00:00,2021-09-03,17:05:00+00:00,2021-09-03,19:05:00+00:00

In [ ]:
#df.rename(columns={"f2": "origin", "f3": "destination","f6": "airline", "f7": "refundable","f8": "baggage_weight", "f9": "baggage_pieces","f10":"flight_number"})

MemoryError: Unable to allocate 665. MiB for an array with shape (4, 21776590) and data type int64

In [ ]:
#df[['purchace_time','n']]=df['pt'].str.split('+', expand=True)

In [ ]:
#df.head()

,Unnamed: 0,f2,f3,f6,f7,f8,f9,f10,pd,pt,dd,dt,ad,at,purchace_time,n
0,0,0,1,gamma,1,0.000000,0,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00,09:46:17.463002,00:00
1,1,0,1,gamma,1,0.711111,1,c-2,2020-12-31,09:46:17.463002+00:00,2021-01-10,05:00:00+00:00,2021-01-10,07:00:00+00:00,09:46:17.463002,00:00
2,2,0,1,gamma,1,0.711111,1,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00,09:46:17.463002,00:00
3,3,0,1,gamma,1,0.711111,2,c-4,2020-12-31,09:46:17.463002+00:00,2021-01-10,11:00:00+00:00,2021-01-10,13:00:00+00:00,09:46:17.463002,00:00
4,4,0,1,beta,0,0.444444,0,b-69,2020-12-31,09:46:18.191119+00:00,2021-01-25,11:00:00+00:00,2021-01-25,12:55:00+00:00,09:46:18.191119,00:00